<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    <div layout:fragment="admin_content">

        <div class="d-flex flex-column container">
            <h3 class="text-center my-5 py-4">Users</h3>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                <tr th:each="user : ${users}">
                    <form action="#" method="post" th:action="@{/admin/users/updateRole}">
                    <input type="hidden" th:name="userId" th:value="${user.id}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <!-- <td th:text="${user.roles}"></td> -->
                    <td>
                        <select th:name="userRole" class="form-select" th:classappend="
                                ${#strings.equals(user.roles, 'ROLE_ADMIN')} ? 'border-info' : '' ">
                            <option th:selected="${user.roles} == 'ROLE_USER'">ROLE_USER</option>
                            <option th:selected="${user.roles} == 'ROLE_ADMIN'">ROLE_ADMIN</option>
                        </select>
                    </td>
                    <td>
                        <div th:if="${user.username} ne 'admin'">
                            <button type="submit" class="btn btn-outline-dark">Update</button>
                        </div>
                    </td>
                    </form>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>