<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div layout:fragment="admin_content">
        <div class="container w-100 mt-5 d-flex flex-column justify-content-between">
            <h3 class="mb-4"><b>Dashboard</b></h3>

            <div class="d-flex flex-column flex-lg-row  justify-content-lg-between align-items-center">
                <div class="row w-100">
                    <div class="col-lg-4 p-2">
                        <div class="card dashboard-card-sm text-bg-primary mb-3">
                            <div class="card-header h4"><i class="bi bi-credit-card"></i> Orders</div>
                            <div class="card-body">
                              <h1 class="card-title" th:text="${#lists.size(monthlyOrders)}"></h1>
                              <p class="card-text">Total for this months</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-2">
                        <div class="card dashboard-card-sm text-bg-danger mb-3">
                            <div class="card-header h4"><i class="bi bi-x-circle"></i> Cancellations</div>
                            <div class="card-body">
                              <h1 class="card-title" th:text="${#lists.size(cancelledOrders)}"></h1>
                              <p class="card-text">Total for this months</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-2">
                        <div class="card dashboard-card-sm text-bg-success mb-3">
                            <div class="card-header h4"><i class="bi bi-bank2"></i> Revenue</div>
                            <div class="card-body">
                              <h1 class="card-title" th:text="${#numbers.formatCurrency(monthlyRevenue)}"></h1>
                              <p class="card-text">Total for this months</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column flex-lg-row  justify-content-lg-between align-items-center">
                <div class="row w-100">
                    <div class="col-lg-8 p-2">
                        <div class="card dashboard-card-lg w-100 mb-3">
                            <div class="card-header h4 bg-white"><i class="bi bi-clipboard-data"></i> Sales Analytics</div>
                            <div class="card-body">
                              <div>
                                <canvas id="myChart" class="w-100 h-100"></canvas>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-2">
                        <div class="card dashboard-card-sm mb-3">
                            <div class="card-header h4"><i class="bi bi-star-half"></i> Recent Reviews</div>
                            <div class="card-body">
                                <div th:each="review : ${recentReviews}" class="row">
                                    <span class="text-secondary" th:text="${#strings.capitalize(review.user.name)} ">User's name</span>
                                    <div>
                                        <span th:each="i : ${#numbers.sequence(1, 5)}">
                                            <i th:class="${{review.rating}} ge ${#numbers.formatDecimal(i,1,1)} - 0.5 ? 'bi bi-star-fill' : 'bi bi-star'"></i>
                                        </span>
                                    </div>
                                    <span th:text="${review.product.name}"></span>
                                    <div>
                                        <span th:text="'Reviewed on ' + ${#temporals.format(review.dateCreated, 'dd MMMM yyyy')}" class="text-secondary"></span>
                                        <span class="text-success ms-lg-3">Verified purchase <i class="bi bi-check-circle"></i></span>
                                    </div>
                                    <p class="text-black" th:text="${review.comment}"></p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>

    <div layout:fragment="admin_scripts">
      <!-- Create the key and value arrays for the x and y axis in the chart from the ordersByDate map -->
      
      <script th:inline="javascript">
        let dates = /*[[${dates}]]*/ [];
        let quantities = /*[[${quantities}]]*/ [];
        console.log(dates)
        console.log(quantities)

        let ctx = document.getElementById('myChart').getContext('2d');
        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Orders by date',
                    data: quantities,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 3,
                    fill: false
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'MMM D'
                            }
                        },
                        distribution: 'linear'
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        fontColor: '#333',
                        fontSize: 14
                    }
                },
                title: {
                    display: true,
                    text: 'Orders by date',
                    fontSize: 18
                }
            }
        });

    </script>
    

    </div>

</body>
</html>