@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body {
    min-height: 100vh;
}

.carousel-banner-img {
    height: 40vh;
    object-fit: cover;
    object-position: 0 50%;
}

.categories-img{
    width: min-content;
    height: 12rem;
}

.categories-card{
    max-width: 12rem;
    overflow: hidden;
}

.categories-card:hover{
    box-shadow: 0px 6px 20px -10px #888888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.product-card{
    width: 50rem;
    margin:auto;
}
.product-card:hover {
    box-shadow: 0px 6px 20px -10px #888888;
}