@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(245, 247, 252, 0.682)
}

.carousel-banner-img {
    height: 40vh;
    object-fit: cover;
    object-position: 0 50%;
}

.categories-img{
    /* width: min-content; */
    width: fit-content;
    /* width: 8rem; */
    height: 8rem;
}

.categories-card{
    /* min-width: 12rem;
    max-width: 12rem; */
    width: 12rem;
    overflow: hidden;
    text-align: center;
}

.categories-card:hover{
    box-shadow: 0 1.5rem 2.5rem rgba(22,28,45,.1),0 .3rem 0.5rem -.50rem rgba(25, 30, 43, 0.23);
    transform: translate3d(0px, -6px, 100px);
    /* transform: matrix3d(
  1, 0, 0, 0,
  0, 1, 0, 0,
  0, 0, 1, 0,
  0, -5, 0, 1
); */
    transition-timing-function: cubic-bezier(0.09, 0.56, 0.5, 0.96);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.product-card{
    max-width: 50rem;
    /* margin:auto; */
}
.product-card:hover {
    box-shadow: 0 1.5rem 2.5rem rgba(22,28,45,.1),0 .3rem 0.5rem -.50rem rgba(22,28,45,.05);
    transition-duration: 0.2s;
    transform: translate3d(0px, -4px, -100px);
    transition-timing-function: cubic-bezier(0.09, 0.56, 0.5, 0.96);
}

.card{
    border: 0px;
    box-shadow: 0px 4px 30px -20px #d7d7d7;
    transition-duration: 0.2s;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
  }
  
  .login form {
    font-size: 20px;
  }
  
  .login form .form-group {
    margin-bottom: 12px;
  }
