@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body {
    min-height: 100vh;
}

.carousel-banner-img {
    height: 40vh;
    object-fit: cover;
    object-position: 0 50%;
}

.categories-img{
    width: min-content;
    height: 12rem;
}

.categories-card{
    max-width: 12rem;
    overflow: hidden;
}