<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
</head>

<body>
    <div layout:fragment="content">
        <p>This is the basket page</p>
        <!-- <p>Number of products: <span th:text="${#lists.size(products)}"></span></p> -->
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
                <th>make</th>
                <th>category</th>
                <th>price</th>
                <th>Add</th>
                <th>Quantity</th>
                <th>Reduce</th>
                <th>Option</th>
            </tr>
            <tr th:each="basketProduct : ${products}">
                <td th:text="${basketProduct.product.name}"></td>
                <td th:text="${basketProduct.product.description}"></td>
                <td th:text="${basketProduct.product.rating}"></td>
                <td th:text="${basketProduct.product.make}"></td>
                <td th:text="${basketProduct.product.category}"></td>
                <td th:text="'£' + ${basketProduct.product.price}"></td>
                <td><a th:href = "@{basket/addQuantity/{id}(id=${basketProduct.product.id})}">+1</a></td>
                <td th:text="${basketProduct.quantity}"></td>
                <td><a th:href = "@{basket/reduce/{id}(id=${basketProduct.product.id})}">-1</a></td>
                <td><a th:href="@{basket/removeProduct/{id}(id=${basketProduct.id})}">Delete</a></td>
            </tr>
        </table>
        <br>
        <form method = "post" action ="#" th:action="@{/basket/clear}" th:object="${basketproduct}">
            <button type="submit">Clear</button>
        </form>
        <br>
        <form method = "post" action ="#" th:action="@{/checkout}">
            <button type="submit">Checkout</button>
        </form>
        <br>
        <p th:text="'Total = £' + ${total}"></p>
    </div>
</body>
</html>