<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
</head>

<body>
<div layout:fragment="content">
    <div class="d-flex flex-column container mb-0">
        <h2 class="text-center mb-3">Your Orders</h2>
      <!--  <div class="card bg-light m-3 shadow table-responsive">
            <h3 class="card-header mb-3 text-center">Your Orders</h3>
            <table class="m-3 table-responsive-sm">
                <tr>
                    <th>Image</th>
                    <th>Order ID</th>
                    <th>Date created</th>
                    <th>Qty</th>
                    <th>Total price</th>
                    <th>Status</th>
                </tr>
                <tr class="border-top" th:each="order : ${orders}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
                                    alt=""
                                    style="width: 120px; height: 100px"
                                    class="img-fluid rounded m-3"
                            />
                            <div class="ms-3">
                                <p class="text-muted mb-0">Item Title</p>
                            </div>
                        </div>
                    </td>
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.dateCreated}"></td>
                    <td th:text="${order.id}"></td> &lt;!&ndash;change this to qty&ndash;&gt;
                    <td th:text="${order.totalPrice}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <button type="button" class="btn btn-dark btn-sm mt-3 mb-1">Write review</button>
                        <br>
                        <button type="button" class="btn  btn-sm btn-dark mb-3">Buy it again</button>
                    </td>
                </tr>
                <tr class="border-top" th:each="order : ${orders}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
                                    alt=""
                                    style="width: 120px; height: 100px"
                                    class="img-fluid rounded m-3"
                            />
                            <div class="ms-3">
                                <p class="text-muted mb-0">Item Title</p>
                            </div>
                        </div>
                    </td>
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.dateCreated}"></td>
                    <td th:text="${order.id}"></td> &lt;!&ndash;change this to qty&ndash;&gt;
                    <td th:text="${order.totalPrice}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <button type="button" class="btn btn-dark btn-sm mt-3 mb-1">Write review</button>
                        <br>
                        <button type="button" class="btn  btn-sm btn-dark mb-3">Buy it again</button>
                    </td>
                </tr>
            </table>
        </div>-->

        <div class="card mb-3 product-card">
            <div class="row">
                <div class="col-sm-4">
                    <img
                            src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
                            alt=""
                            class="img-fluid rounded m-3"
                    />
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">Order ID: </p>
                        <p class="card-text">Date created: </p>
                        <p class="card-text">Total Price: </p>
                        <p class="card-text">Status: </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 product-card">
            <div class="row">
                <div class="col-sm-4">
                    <img
                            src="src/main/resources/frontend-shah/images/turbo.jpg"
                            alt=""
                            class="img-fluid rounded m-3"
                    />
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">Order ID: </p>
                        <p class="card-text">Date created: </p>
                        <p class="card-text">Total Price: </p>
                        <p class="card-text">Status: </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>