<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <div layout:fragment="content">
        <!-- The registration form -->
        <form method="post" action="#" th:action="@{/registerUser}" th:object="${userDTO}">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" th:field="*{name}">

            <label for="name">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter a username" th:field="*{username}">

            <label for="name">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" th:field="*{email}">

            <label for="name">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter a strong password"
                th:field="*{password}">

            <input type="hidden" id="roles" name="roles" value="ROLE_USER" th:field="*{roles}">

            <button type="submit">Register</button>
        </form>
    </div>
</body>

</html>