<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>

<body>
    <div layout:fragment="content">
        <h1>This is the store page using thymeleaf</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Buy</th>
            </tr>
            <tr th:each="product:${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.rating}"></td>
                <td ><a th:href="@{product/{id}(id=${product.id})}">BUY</a></td>
        </table>

        <!-- <form action="#" th:action="@{/basket/add}" method="post">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" id="quantity" value="1">
            <input type="hidden" name="productId" th:value="${product.id}">
            <button type="submit">Add to Basket</button>
        </form> -->
        
    </div>
</body>
</html>