<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>

<body>
    <div layout:fragment="content">

        <!-- Categories -->
        <h5 class="text-center mt-4">Product Categories</h5>
        <div class=" d-flex flex-wrap justify-content-center">
            <div class="card categories-card m-2 text-center">
                <a href="#" th:href="@{/store/Coilovers}" class="text-decoration-none link-dark">
                  <img src="..." th:src="@{/images/Tein Street Basis Z Coilovers.png}" class="card-img-top categories-img" alt="...">
                  <div class="card-body">
                    <p class="card-text h5 text-center">Coilovers</p>
                  </div>
                </a>
            </div>
            <div class="card categories-card m-2 text-center">
                <a href="#" th:href="@{/store/Turbo}" class="text-decoration-none link-dark">
                  <img src="..." th:src="@{/images/turbo1.jpg}" class="card-img-top categories-img" alt="...">
                  <div class="card-body">
                    <p class="card-text h5 text-center">Turbo kits</p>
                  </div>
                </a>
            </div>
            <div class="card categories-card m-2 text-center">
                <a href="#" th:href="@{/store/Brakes}" class="text-decoration-none link-dark">
                  <img src="..." th:src="@{/images/StopTech Trophy Sport Big Brake Kit.png}" class="card-img-top categories-img" alt="...">
                  <div class="card-body">
                    <p class="card-text h5 text-center">Big Brake Kits</p>
                  </div>
                </a>
            </div>
            <div class="card categories-card m-2 text-center">
                <a href="#" th:href="@{/store/Oils}" class="text-decoration-none link-dark">
                  <img src="..." th:src="@{/images/Castrol GTX Engine Oil.jpg}" class="card-img-top categories-img" alt="...">
                  <div class="card-body">
                    <p class="card-text h5 text-center">Engine Oils</p>
                  </div>
                </a>
            </div>
            <div class="card categories-card m-2 text-center">
                <a href="#" th:href="@{/store/Batteries}" class="text-decoration-none link-dark">
                  <img src="..." th:src="@{/images/batt1.jpg}" class="card-img-top categories-img" alt="...">
                  <div class="card-body">
                    <p class="card-text h5 text-center">Batteries</p>
                  </div>
                </a>
            </div>
        </div>
        
          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Prices
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/store/{price}(price=low)}">&lt; 100</a></li>
                  <li><a class="dropdown-item" th:href="@{/store/{price}(price=mid)}">&lt; 1000</a></li>
                  <li><a class="dropdown-item" th:href="@{/store/{price}(price=high)}">&gt; 1000</a></li>
                </ul>
              </li>
            </ul>
          <!-- </div> -->
        <div th:if="${size}">
          <p th:text="${'Total Results ' + size}"></p>
        </div>
        <div class="container justify-content-center card-container card-deck my-5">
          <div th:if="${error}">
            <span th:text="${error}"></span>
          </div>
            <div th:each="product:${products}">
                <a href="#" th:href="@{/product/{id}(id=${product.id})}" class="text-decoration-none text-dark">
                    <div class="card mb-3 product-card">
                        <div class="row">
                          <div class="col-sm-4">
                            <img src="..." th:src="${product.image}" class="img-thumbnail border-0" alt="...">
                          </div>
                          <div class="col-sm-8">
                            <div class="card-body">
                              <!-- Dynamic star rating -->
                              <span th:each="i : ${#numbers.sequence(1, 5)}">
                                <i th:class="${{product.rating}} ge ${#numbers.formatDecimal(i,1,1)} - 0.5 ? 'bi bi-star-fill' : 'bi bi-star'"></i>
                              </span>
                              <h5 class="card-title" th:text="${product.name}"></h5>
                              <h4 th:text="'£' + ${product.price}">£79.99</h4>
                              <p class="card-text" th:text="${product.description}"></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>